.container {
  text-align: center;
}

.access {
  font-size: 25px;
}

.searchFields {
  display: flex;
  padding: 30px;
}

.title {
  font-size: 5em;
}

.type {
  margin: 20px;
}

.number {
  margin: 20px;
}

.price {
  margin: 20px;
}
